#div1{
	height:100px;
	width:100px;
	background:red;
	border-radius:100%;
	animation:animate_div 3s;
	position:absolute;
	left:0;
	z-index:2;
	
}
#divp{
	position:absolute;
	left:120px;
	animation:animate_p 3s;
	-moz-backface-visibility:hidden;
	z-index:1;
}
@keyframes animate_div{
	from { left:100% }
	to { left:0px }
}
@keyframes animate_p{
	from { left:100% }	
	75%{ left:100px}
	to { left:120px; }
}